*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    position: relative;
}
nav{
    background-color: #fff7d6;
    border-bottom: #000000 1px solid;
}
nav ul li a{
    color: #000000;
}
.greeting{
    color:#073EF5;
}
.know{
    background-color:#073EF5;
    color: #ffffff;
    border-radius: 20px;
}
.svgimg{
    position:absolute;
    padding: 0;
    margin: 0;
    left:0;
}
.card1 h3,.card2 h3{
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.card2{
    margin-top: 160px;
    margin-left: 100px;
    margin-right: -100px;
}
.card-body .image{
    width: 100%;
    height: 200px;
    background-color: hsl(180, 100%, 50%);
    border-radius: 50px;
}
.stickyNote{
    width:100%;
    height: 300px;
}
.note{
    position:relative;
}
.txt{
    position: absolute;
    top: 5%;
    width: 100%;
    height: 300px;
    background-color:transparent;
}
.txt h3{
    font-size: 30px;
    padding-top: 10%;
    color: #073EF5;
    font-weight: 400;
}
.svglet{
    position: relative;
}
.ourpurpose{
    width: 80%;
    height: auto;
    background-color: #FFFFFF;
    color: #000000;
    margin-top: 150px;
    margin-left: 100px;
    border: 50px solid #BAD6D3;
}
.ourtext p{
    padding: 20px;
}
.slider{
    background-color: #000000;
    border: 30px solid #6A4025;
    height: 700px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide img{
    width: 80%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-pagination-bullet{
    background-color: #ffffff;
}
.swiper-wrapper{
    margin-bottom: 40px;
}
.id{
    color: #fff;
}
.parteners{
    background-color: #fff7d6;
}
.parteners .child img{
    height: 200px;
}
footer{
    background-color: #fff7d6;
}
.row .card3{
    background-color: #089511;
    border-radius: 25px;
    height: 570px;
}
.card-footer .div1 i{
    background-color: #ffffff;
    border-radius:50%;
    margin-left: 60px;
    font-size: 40px;
    color: #000000;
}
@media screen and (max-width:1200px){
    .swiper-slide img{
        width: 80%;
        margin-left: 10%;
    }
    .card-footer .div1 i{
        background-color: #ffffff;
        border-radius:50%;
        margin-left: 30px;
        font-size: 40px;
        color: #000000;
    }
    .id{
        color:#073EF5;
    }
    .parteners .child img{
        width: 100%;
        height: 100px;
    }
    .row .card3{
        margin-top: 10px;
    }
}
